@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/dark-hive/jquery-ui.css" />
</head>

<div class="container">
    <h1 class="text-center display-4">@ViewData["Title"]</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" required placeholder=" " />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" required placeholder=" " />
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" asp-for="Input.RememberMe" id="rememberMe" />
                        <label class="form-check-label" for="rememberMe">
                            Remember me
                        </label>
                    </div>
                    <div class="text-center">
                        <button id="login-submit" type="submit" class="btn-black">Log in</button>
                    </div>
                    <div class="text-center">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn-register" id="registerLink">
                            Register as a new user
                        </a>
                    </div>
                </form>
            </section>
            <section class="text-center mt-4">
                <h3 class="text-white">Log in with another service</h3>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p class="text-black">No external authentication services are configured.</p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn-black" name="provider" value="@provider.Name">
                                            Log in with @provider.DisplayName
                                        </button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}